<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>AthanProdcaster WebApp</title>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous"
/>
</head>
<style>
  html, body, #react
{
    height: 100vh;
}
  </style>
<body>


 <div id="react" style="height: 100vh"></div>
  <script src="built/bundle.js"></script>

</body>
  
</html>
